<%- include("head.ejs") %>
<body>
  <div class="back">
    <div class="container p-0 col-xl-12 col-6">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="patch d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/unipi.png" width="50px" alt="" srcset="">
            <span class="warung fs-4 mx-2">  Warung Unipi</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="product.ejs" class="nav-link active">Produk</a></li>
            <li class="nav-item"><a href="About.ejs" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-md-2 g-3">
            <div class="col" id="#nasgor">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="/Nasgor.jpg" width="100%" alt="">
                <div class="card-body">
                  <h2>Nasgor</h2>
                  <p class="card-text">Di Warung Unipi, nasi goreng kami bukan hanya makanan, tapi perpaduan cita rasa yang menggugah selera dan membangkitkan kenangan. Aroma bawang putih yang harum, kecap manis yang kaya rasa, dan sentuhan pedas cabai kami racik pas untuk bikin kamu jatuh cinta di suapan pertama. Ditambah bawang goreng renyah serta pilihan topping telur atau ayam, nasi goreng Unipi siap manjain lidah kamu kapan pun—pagi, siang, atau malam. Hangatkan harimu dan kenyangkan perutmu dengan kelezatan yang tak terlupakan, hanya di Warung Unipi!</p>
                  <span class="span mx-2">Harga Rp15.000,-</span>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group align-items-center col-6">
                      <button type="button" class="btn btn1 btn-sm btn-outline-secondary m-2">Buy</button>
                    </div>
                    <small class="text-body-secondary">Warung.unipi</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" id="esCendol">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="/es.jpg" width="100%" alt="">
                <div class="card-body">
                  <h2>Es Cendol</h2>
                  <p class="card-text">Segarnya es cendol khas Warung Unipi siap jadi andalan pelepas dahaga kamu di tengah panasnya hari! Terbuat dari bahan-bahan pilihan—cendol kenyal, gula aren asli, dan santan segar—kami racik dengan penuh cinta agar tiap gelas menghadirkan cita rasa tradisional yang autentik dan tak terlupakan. Nikmati kesegaran alami dalam setiap tegukan, cocok untuk teman istirahat siang atau pelepas penat setelah seharian beraktivitas. Es cendol Warung Unipi, segar, legit, dan selalu bikin nagih!</p>
                  <span class="span mx-2">Harga Rp10.000,-</span>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group align-items-center col-6">
                      <button type="button" class="btn btn2 btn-sm btn-outline-secondary m-2">Buy</button>
                    </div>
                    <small class="text-body-secondary">Warung.unipi</small>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-md-2 g-3">
            <div class="col" id="martabak">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="/martabak.jpg" width="100%" alt="">
                <div class="card-body">
                  <h2>Martabak Lumer</h2>
                  <p class="card-text">Kalau ngomongin cemilan yang nggak pernah gagal bikin senang, martabak dari Warung Unipi jawabannya! Dengan isian melimpah—mulai dari cokelat, keju, kacang, sampai susu kental manis—martabak manis kami punya tekstur empuk, rasa legit, dan aroma yang menggoda sejak pertama dibuka. Mau yang manis atau martabak telur gurih berisi daging dan bumbu khas? Semua ada di sini! Cocok buat teman ngobrol, nonton, atau oleh-oleh. Sekali coba, pasti balik lagi. Martabak Unipi, selalu padat isi, penuh rasa!</p>
                  <span class="span mx-2">Harga Rp13.000,-</span>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group align-items-center col-6">
                      <button type="button" class="btn btn3 btn-sm btn-outline-secondary m-2">Buy</button>
                    </div>
                    <small class="text-body-secondary">Warung.unipi</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" id="seblak">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="/seblak.jpg" width="100%" alt="">
                <div class="card-body">
                  <h2>Seblak Asam Lambung</h2>
                  <p class="card-text">Seblak Unipi bukan cuma sekadar makanan pedas!! ini adalah sajian penuh rasa yang siap manjain lidah kamu setiap saat! Dibuat dari kerupuk pilihan yang dimasak sampai kenyal, ditambah bumbu rahasia khas Warung Unipi, setiap mangkuknya dijamin bikin ketagihan. Cocok buat kamu yang suka tantangan pedas atau sekadar pengen camilan yang beda dari yang lain. Rasain sendiri sensasi seblak yang meledak di mulut karena di Warung Unipi, rasa dan kualitas itu nomor satu! Buruan coba Ladies!!</p>
                  <span class="span mx-2">Harga Rp8.000,-</span>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group align-items-center col-6">
                      <button type="button" class="btn btn4 btn-sm btn-outline-secondary m-2">Buy</button>
                    </div>
                    <small class="text-body-secondary">Warung.unipi</small>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

  </div>
    <%- include("footer.ejs") %>